<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のerrorが発生しました
    <% @book.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
  <% end %>
  <h2>Title</h2>
  <%= f.text_field :title %>
  <h2>Opinion</h2>
  <%= f.text_area :body %>
  <%= f.submit "Update Book"%>
<% end %>

<%= link_to "Show",book_path(@book.id) %> |
<%= link_to "Back",books_path %>
